<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark navbar fixed-top bg-dark ">
    <a class="navbar-brand" href="http://localhost:4200/">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:4200/tiempoactual/Quito"> Time To Day </a>
            </li>
        </ul>
    </div>
    <form class="d-flex" role="search" [formGroup]="cityform" (ngSubmit)="sendcity()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="city">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>
<div style="padding: 100px 0px 75px 225px; text-align: center; ">
    <div class="card text-center border-info mb-3 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 50rem; font-family: 'Times New Roman', Times, serif;">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>Esta es una pagina para mostrar el tiempo, puede buscar la ciudad que desea saber el clima en el
                    Shearch</p>
            </blockquote>
        </div>
    </div>
</div>

<router-outlet></router-outlet>